*{
    padding: 0%;
    margin: 0%;
}

#logoHeader{
    width: 170px;
}

#header{
    background-color: #013220;
}

.navbar-nav .nav-link.active{
    color: white;
}

.navbar-nav .nav-link{
    color: white;
    gap: 0px;

}

.btn-ver {
    --bs-btn-color: #ffffff;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #797979;
    --bs-btn-hover-border-color: #797979;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #000000;
    --bs-btn-active-border-color: #000000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000000;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #000000;
    --bs-gradient: none;}


    #cafes{
        width: 100%;
       height: 1000px;
    }

    .btn-ver{
        background-color: #293724;
        color: white;
    }

    .card-title {
        margin-bottom: var(--bs-card-title-spacer-y);
        color:#a7760d;
    }


    h2{
        color:  #71741c;
        display: flex;
        justify-content: center;
        margin-top: 40px;
       

    }

    #bosquecafe{
        width: 100%;
        height: 700px;
        display: flex;
        margin-top: 70px;
    }

   #sobrenos {
        margin: 100px;
     
       
    }

    #lugar{
        height: 600px;
        margin-left: 30px;
    }

    h1{
        color: #a7760d;
        
    
    }

   #botao{
      display: flex;
      justify-content: center;
   
      
   }

   #imgcardapio {
    width: 700px;
}

    #cardapio{
        height: 500px;
        margin-top: 80px;
        background: rgb(1,50,32);
        background: linear-gradient(90deg, rgba(1,50,32,1) 0%, rgba(38,14,12,1) 100%);
        
        
    }

    #h2reserva{
        display: flex;
        justify-content: center;
        color: #71741c;
        margin-top: 30px;
        margin-left: 0%;
    }

    footer {
        display: flex;
       
    }
    
    #reserva {
        width: 100%; 
        height: 30vh; 
    }

    footer{
        margin-top: 30px;
        background-color: #293724;
        color: white;
        height: 200px;
        align-items: center;
    }

    #localizacao{
       margin: 40px;
       display: flex;
    }
